<div class="comments">
	<h4>comment by: &nbsp;&nbsp;<%= comment.author_name %></h4>
	
	<% if logged_in? %>
		<p><%= link_to 'delete', [comment.article, comment],
	                  method: :delete,
	                  class: "button",
	                  data: { confirm: 'Are you sure?' } %>
	  </p>
	<% end %>
	
	<p class="comment-time">posted <%= time_ago_in_words(comment.created_at) %> ago</p>
	<p class="comment-body"><%= comment.body %></p>
</div>