<header>
	<!-- <h1 class="name"><a href="http://www.johnnyji.com/" target="_blank">Johnny Ji</a></h1> -->
	<div class="social-icons">
		<a href="https://github.com/johnnyji/" target="_blank" ><i class="fa fa-github"></i></a>
		<a href="http://ca.linkedin.com/pub/johnny-ji/92/1b8/981" target="_blank" ><i class="fa fa-linkedin"></i></a>
		<a href="http://www.instagram.com/johnnyisji" target="_blank" ><i class="fa fa-instagram"></i></a>
		<a href="https://twitter.com/johnnyisji" target="_blank" ><i class="fa fa-twitter"></i></a>
	</div>
	<p class='intro'>Hello, I'm <b><a href="http://johnnyji.com/" target="_blank">Johnny Ji</a></b> and the following is a collection of my experiences as a web developer and a human being in training.</p>
</header>

<br>

<div class="articles-container">
	<% @articles.each do |article| %>
		<div class="article">
			<h3 class='article-title'><%= link_to article.title, article_path(article)%></h3>
			<p class='article-date'><%= article.created_at.strftime("%B %d, %Y") %></p>
			<p class="article-body"><%= link_to(truncate(article.body.html_safe, length: 225, omission: '...', separator: /\.\s/, escape: false), article_path(article))%></p>
		</div>
	<% end %>
</div>

<% if logged_in? %>
	<%= link_to "Create a New Article", new_article_path, class: "confirm-button" %>
<% end %>



