<h1 class="name_header">All Articles</h1>

<br>
<div class="articles">
	<% @articles.each do |article| %>
		<h3><%= link_to article.title, article_path(article), class: 'article_title' %></h3>
		<p><%= link_to article.created_at.strftime("%B %d, %Y"), article_path(article) %></p><br>
	<% end %>
	<p><%= link_to "Create a New Article", new_article_path, class: 'new_article_button' %></p>
</div>