<header>
	<h1 class="name-header"><a href="http://www.johnnyji.com/" target="_blank">johnny ji.</a></h1>
	<p class="social-icons">
		<a href="http://www.facebook.com/Magic.Finger" target="_blank" ><i class="fa fa-facebook"></i></a>
		<a href="#" target="_blank" ><i class="fa fa-twitter"></i></a>
		<a href="http://www.instagram.com/johnnayjay" target="_blank" ><i class="fa fa-instagram"></i></a>
		<a href="http://ca.linkedin.com/pub/johnny-ji/92/1b8/981" target="_blank" ><i class="fa fa-linkedin"></i></a>
		<a href="https://github.com/johnnyji/" target="_blank" ><i class="fa fa-github"></i></a>
	</p>
</header>

<br>

<div class="articles">
	<% @articles.each do |article| %>
		<h3><%= link_to article.title, article_path(article)%></h3>
		<p><%= link_to article.created_at.strftime("%B %d, %Y"), article_path(article) %></p><br>
	<% end %>
</div>

<% if logged_in? %>
	<p class="new-article"><%= link_to "Create a New Article", new_article_path %></p>
<% end %>



