$text-color: #696969;
$title-color: #A38E79;
$hover-color: #2980b9;
$border-color: #DBDBDB;
$light-text-color: #666;
$cloud-color: #ecf0f1;

// VIEWPORT MIXINS

@mixin mobile-viewport {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin medium-viewport {
  @media (min-width: 401px) and (max-width: 700px) {
    @content;
  }
}

@mixin transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html, body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  a {
    color: inherit;
    text-decoration: none;
    &:hover, &:active {
      color: $hover-color;
      text-decoration: none;
    }
    &:focus, &:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}

*, *:before, *:after {
  box-sizing: inherit;
  a {

  }
}

.app-wrapper {
  position: relative;
  left: 0;
  width: 65vw;
  max-width: 800px;
  height: auto;
  @include medium-viewport {
    position: relative;
    margin: 0 auto;
    width: 80vw;
  }
  @include mobile-viewport {
    position: relative;
    margin: 0 auto;
    width: 80vw;
  }
  .flash {
    color: $hover-color;
    margin: 2em 0 2em 0;
    font-size: 1.2em;
  }
  footer {  
    height: auto;
    font-size: 1.1em;
    margin-bottom: 2em;
    @include medium-viewport {
      font-size: 1em;
    }
    @include mobile-viewport {
      display: none;
    }
  }
}