/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootsy
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$main-color: #202020;
$hover-color: #2980b9;
$border-color: gray;
$light-color: #bdc3c7;
$cloud-color: #ecf0f1;

@mixin fade {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

* {
	font-family: 'Lato', arial;
	
	a {
		color: inherit;
		text-decoration: none;
		&:hover, &:focus, &:visited, &:active {
			text-decoration: none;
		}
	}
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
	position: relative;
	left: 0;
	
	width: 80vw;
	height: auto;
	min-height: 100vh;
	color: #202020;
}

.flash {
	color: $hover-color;
	margin: 2em 0 2em 0;
	font-size: 1.2em;
}

footer {
	font-size: 1.1em;
}