// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "appwide";

/*STYLING THE MAIN INDEX*/

// HEADER OF THE SITE
header {
	width: 100%;
	margin: 2.5em 0 1.5em 0;
	font-size: 1.4em;
	color: $text-color;
	@include medium-viewport {
		font-size: 1.3em;
		width: 70vw;
	}
	@include mobile-viewport {
		font-size: 1.2em;
		width: 100%;
	}
	.social-icons {
		color: $title-color;
		font-size: 2.5em;
		margin-bottom: 0.5em;
		@include mobile-viewport {
			font-size: 3em;
			margin: 0 auto;
			text-align: center;
		}
		a {
			@include transition;
			&:hover {
				color: $hover-color;
			}
			padding-right: 0.3em;
		}
	}
	.intro {
		@include transition;
		width: 70%;
		font-weight: 300;
		font-size: 0.9em;
		color: $light-text-color;
		b {
			color: $text-color;	
		}
		a:hover {
			color: $hover-color;
		}
		@include medium-viewport {
			width: 95%;
		}
		@include mobile-viewport {
			display: none;
		}
	}
}

// INDIVIDUAL ARTICLE
.articles-container {
	@include mobile-viewport {
		width: 100%;
	}
	.article {
		padding: 2em 0;
		border-top: 1px solid $border-color;
		.article-title {
			color: $text-color;
			font-weight: bold;
			margin-bottom: 0.5em;
			a {
				@include transition;
			}
			a:hover {
				color: $hover-color;
			}
		}
		.article-date {
			color: $light-text-color;
			font-size: 0.95em;
			margin-bottom: 1em;
			line-height: 2;
		}
		.article-body {
			max-width: 500px;
			font-weight: 300;
			font-size: 1.1em;
			width: 70%;
			color: $light-text-color;
			@include mobile-viewport {
				width: 100%;
			}
		}
	}
}

// SHOW PAGE
.current-article {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7;
	width: 100%;
	margin-top: 3em;
	margin-bottom: 5em;
	.title {
		color: $text-color;
		margin-bottom: 0.6em;
		display: inline-block;
	}

	.edit-delete {
		display: inline-block;
		margin-left: 1em;
		font-size: 0.8em;
	}

	.current-article-date {
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 3em;
		color: $light-text-color;
	}

	.current-article-body {
		margin-bottom: 5em;
		white-space: pre-wrap;
		line-height: 1.4;
	}

	.current-article-image {
		width: 30vw;
		height: auto;
	}
}