// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #202020;
$hover-color: #2980b9;
$border-color: gray;
$light-color: #bdc3c7;
$cloud-color: #ecf0f1;

@mixin fade {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

* {
	font-family: 'Lato', arial;
	
	a {
		color: inherit;
		text-decoration: none;
	}
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
	position: relative;
	left: 0;
	
	width: 80vw;
	height: auto;
	min-height: 100vh;
	color: #202020;
}

.flash {
	color: $hover-color;
}


/*FORMS*/

.confirm-button {
	@include fade;
	display: inline-block;
	font-size: 1.1em;
	border: none;
	color: #fff;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: $hover-color;
	text-transform: lowercase;
	&:hover {
		background-color: $border-color;
		color: #fff;
	}
}

.field_name {
	color: $hover-color;
	font-size: 1.2em;
}

#email {
	margin-top: 0.5em;
	border: 1px solid $main-color;
}

#password {
	margin-top: 0.5em;
	border: 1px solid $main-color;
}

#article_title {
	border: 1px solid $main-color;
	margin-top: 0.5em;
}

#article_body {
	border: 1px solid $main-color;
	margin-top: 0.5em;
}


.form_subtitle {
	font-size: 1.2em;
	color: $hover-color;
}

/*STYLING THE MAIN INDEX*/

header {
	width: auto;
	margin-bottom: 2em;
	margin-top: 2em;
	font-size: 1.4em;

	.name-header {
		text-transform: lowercase;
		font-size: 2em;
		a:hover {
			color: $hover-color;
		}
	}

	p {
		font-size: 1.3em;

		a {
			padding-right: 0.5em;
		}

		a:hover {
			color: $hover-color;
		}
	}
}

.articles {

	height: auto;
	min-height: 100vh;
	font-size: 1.1em;

	h3 {
		margin-bottom: 0.5em;
	}

	h3 a:hover {
		color: $hover-color;
	}

	p {
		color: gray;
		margin: 0;
	}
}

/*SHOW PAGE*/

.current-article {
	font-size: 1.2em;
	width: 70vw;
	margin-top: 3em;
	margin-bottom: 6em;

	h1 {
		margin-bottom: 0.5em;
		display: inline-block;
	}

	.edit-delete {
		display: inline-block;
		margin-left: 1em;
		font-size: 0.8em;
	}

	.current-article-date {
		margin-top: 0;
		margin-bottom: 3em;
		color: gray;
	}

	.current-article-body {
		margin-bottom: 5em;
		width: 80%;
		white-space: pre-wrap;
	}

	.current-article-image {
		width: 30vw;
		height: auto;
	}
}

/*FOOTER*/

footer {
	position: relative;
	bottom: 0;
	height: 10vh;
	margin-top: 10vh;

	p {
		position: absolute;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		top: 50%;
		margin: 0;
		color: gray;

		a:hover {
			color: $hover-color;
		}
	}
}

@media (max-width: 500px) {
	footer {
		width: 70vw;
		font-size: 0.7em;
	}

}


/*ARTICLE FORM*/
body.article-area.bootsy_text_area.wysihtml5-editor {
left: 0;
width: 100%;
border: none;
}

form {
	border: none;

	h1 {
		margin: 1em 0 1em 0;
	}
	.article-area {
		width: 40vw;
		height: 50vh;
	}

	.article-label {
		color: $hover-color;
		font-size: 1.5em;
		font-weight: 400;
	}

	#article_title {
		border: 1px solid $light-color;
		width: 25vw;
	}

	.wysihtml5-toolbar {
		width: 40vw;
	}

	.bootsy_text_area {
		margin-left: 0;
		border: 1px solid $light-color;
	}

	textarea {
		border: none;
	}
}