// Place all the styles related to the author controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "appwide";

body {
	position: relative;
	left: 10%;
	
	width: 80vw;
	height: auto;
	min-height: 100vh;
	color: #202020;
}

.flash {
	color: $hover-color;
}