@import "appwide";

.pagination {
  @include transition;
  font-size: 1.2em;
  margin: 4em 0 5em 0;
  .disabled {
    display: none;
  }
  .current {
    color: $hover-color;
    font-weight: 400;
    font-size: 1.2em; 
  }
  .next_page,
  .previous_page {
    padding: 0.3em 0.5em;
    background-color: $text-color;
    color: $white;
    font-weight: 300;
    &:hover {
      color: $white;
      background-color: $hover-color;
    }
  }
  a {
    font-weight: 300;
    padding: 0 0.3em;
    &:hover {
      color: $hover-color;
    }
  }
}

.show-more {
  font-size: 1.1em;
  color: $hover-color;
}